/* Figma Styles of your File */
:root {
  /* Colors */
  --neutral: #43349a;
  --primary: #085d3a;
  --neutral-100: #f2f4f7;
  --neutral-200: #eaecf0;
  --neutral-25: #fcfcfd;
  --neutral-300: #d0d5dd;
  --neutral-400: #98a2b3;
  --neutral-50: #f9fafb;
  --neutral-500: #667085;
  --neutral-600: #475467;
  --neutral-700: #344054;
  --neutral-800: #1d2939;
  --primary-100: #dbfae6;
  --primary-200: #a9efc5;
  --primary-25: #f6fef9;
  --primary-300: #75e0a7;
  --primary-400: #47cd89;
  --primary-50: #ecfdf3;
  --primary-500: #17b26a;
  --primary-600: #1f1c27;
  --primary-700: #067647;
  --primary-800: #085d3a;

  /* Fonts */
  --body-xs-bold-font-family: SpaceGrotesk-Bold, sans-serif;
  --body-xs-bold-font-size: 12px;
  --body-xs-bold-line-height: 18px;
  --body-xs-bold-font-weight: 700;
  --body-xs-bold-font-style: normal;
  --body-xs-semibold-font-family: SpaceGrotesk-Bold, sans-serif;
  --body-xs-semibold-font-size: 12px;
  --body-xs-semibold-line-height: 18px;
  --body-xs-semibold-font-weight: 700;
  --body-xs-semibold-font-style: normal;
  --body-xs-medium-font-family: SpaceGrotesk-Medium, sans-serif;
  --body-xs-medium-font-size: 12px;
  --body-xs-medium-line-height: 18px;
  --body-xs-medium-font-weight: 500;
  --body-xs-medium-font-style: normal;
  --body-xs-regular-font-family: SpaceGrotesk-Regular, sans-serif;
  --body-xs-regular-font-size: 12px;
  --body-xs-regular-line-height: 18px;
  --body-xs-regular-font-weight: 400;
  --body-xs-regular-font-style: normal;
  --body-sm-bold-font-family: SpaceGrotesk-Bold, sans-serif;
  --body-sm-bold-font-size: 14px;
  --body-sm-bold-line-height: 20px;
  --body-sm-bold-font-weight: 700;
  --body-sm-bold-font-style: normal;
  --body-sm-semibold-font-family: SpaceGrotesk-Bold, sans-serif;
  --body-sm-semibold-font-size: 14px;
  --body-sm-semibold-line-height: 20px;
  --body-sm-semibold-font-weight: 700;
  --body-sm-semibold-font-style: normal;
  --body-sm-medium-font-family: SpaceGrotesk-Medium, sans-serif;
  --body-sm-medium-font-size: 14px;
  --body-sm-medium-line-height: 20px;
  --body-sm-medium-font-weight: 500;
  --body-sm-medium-font-style: normal;
  --body-sm-regular-font-family: SpaceGrotesk-Regular, sans-serif;
  --body-sm-regular-font-size: 14px;
  --body-sm-regular-line-height: 20px;
  --body-sm-regular-font-weight: 400;
  --body-sm-regular-font-style: normal;
  --body-xl-bold-font-family: SpaceGrotesk-Bold, sans-serif;
  --body-xl-bold-font-size: 20px;
  --body-xl-bold-line-height: 30px;
  --body-xl-bold-font-weight: 700;
  --body-xl-bold-font-style: normal;
  --body-xl-semibold-font-family: SpaceGrotesk-Bold, sans-serif;
  --body-xl-semibold-font-size: 20px;
  --body-xl-semibold-line-height: 30px;
  --body-xl-semibold-font-weight: 700;
  --body-xl-semibold-font-style: normal;
  --body-xl-medium-font-family: SpaceGrotesk-Medium, sans-serif;
  --body-xl-medium-font-size: 20px;
  --body-xl-medium-line-height: 30px;
  --body-xl-medium-font-weight: 500;
  --body-xl-medium-font-style: normal;
  --body-xl-regular-font-family: SpaceGrotesk-Regular, sans-serif;
  --body-xl-regular-font-size: 20px;
  --body-xl-regular-line-height: 30px;
  --body-xl-regular-font-weight: 400;
  --body-xl-regular-font-style: normal;
  --body-lg-bold-font-family: SpaceGrotesk-Bold, sans-serif;
  --body-lg-bold-font-size: 18px;
  --body-lg-bold-line-height: 28px;
  --body-lg-bold-font-weight: 700;
  --body-lg-bold-font-style: normal;
  --body-lg-semibold-font-family: SpaceGrotesk-Bold, sans-serif;
  --body-lg-semibold-font-size: 18px;
  --body-lg-semibold-line-height: 28px;
  --body-lg-semibold-font-weight: 700;
  --body-lg-semibold-font-style: normal;
  --body-lg-medium-font-family: SpaceGrotesk-Medium, sans-serif;
  --body-lg-medium-font-size: 18px;
  --body-lg-medium-line-height: 28px;
  --body-lg-medium-font-weight: 500;
  --body-lg-medium-font-style: normal;
  --body-lg-regular-font-family: SpaceGrotesk-Regular, sans-serif;
  --body-lg-regular-font-size: 18px;
  --body-lg-regular-line-height: 28px;
  --body-lg-regular-font-weight: 400;
  --body-lg-regular-font-style: normal;
  --body-md-bold-font-family: SpaceGrotesk-Bold, sans-serif;
  --body-md-bold-font-size: 16px;
  --body-md-bold-line-height: 24px;
  --body-md-bold-font-weight: 700;
  --body-md-bold-font-style: normal;
  --body-md-medium-font-family: SpaceGrotesk-Medium, sans-serif;
  --body-md-medium-font-size: 16px;
  --body-md-medium-line-height: 24px;
  --body-md-medium-font-weight: 500;
  --body-md-medium-font-style: normal;
  --body-md-regular-font-family: SpaceGrotesk-Regular, sans-serif;
  --body-md-regular-font-size: 16px;
  --body-md-regular-line-height: 24px;
  --body-md-regular-font-weight: 400;
  --body-md-regular-font-style: normal;
  --body-md-semibold-font-family: SpaceGrotesk-Bold, sans-serif;
  --body-md-semibold-font-size: 16px;
  --body-md-semibold-line-height: 24px;
  --body-md-semibold-font-weight: 700;
  --body-md-semibold-font-style: normal;
  --md-bold-font-family: SpaceGrotesk-Bold, sans-serif;
  --md-bold-font-size: 36px;
  --md-bold-line-height: 44px;
  --md-bold-font-weight: 700;
  --md-bold-font-style: normal;
  --md-semibold-font-family: SpaceGrotesk-Bold, sans-serif;
  --md-semibold-font-size: 36px;
  --md-semibold-line-height: 44px;
  --md-semibold-font-weight: 700;
  --md-semibold-font-style: normal;
  --md-medium-font-family: SpaceGrotesk-Medium, sans-serif;
  --md-medium-font-size: 36px;
  --md-medium-line-height: 44px;
  --md-medium-font-weight: 500;
  --md-medium-font-style: normal;
  --md-regular-font-family: SpaceGrotesk-Regular, sans-serif;
  --md-regular-font-size: 36px;
  --md-regular-line-height: 44px;
  --md-regular-font-weight: 400;
  --md-regular-font-style: normal;
  --xl-bold-font-family: SpaceGrotesk-Bold, sans-serif;
  --xl-bold-font-size: 48px;
  --xl-bold-line-height: 120%;
  --xl-bold-font-weight: 700;
  --xl-bold-font-style: normal;
  --xl-semibold-font-family: SpaceGrotesk-Bold, sans-serif;
  --xl-semibold-font-size: 48px;
  --xl-semibold-line-height: 120%;
  --xl-semibold-font-weight: 700;
  --xl-semibold-font-style: normal;
  --xl-medium-font-family: SpaceGrotesk-Medium, sans-serif;
  --xl-medium-font-size: 48px;
  --xl-medium-line-height: 120%;
  --xl-medium-font-weight: 500;
  --xl-medium-font-style: normal;
  --xl-regular-font-family: SpaceGrotesk-Regular, sans-serif;
  --xl-regular-font-size: 48px;
  --xl-regular-line-height: 120%;
  --xl-regular-font-weight: 400;
  --xl-regular-font-style: normal;
  --sm-bold-font-family: SpaceGrotesk-Bold, sans-serif;
  --sm-bold-font-size: 30px;
  --sm-bold-line-height: 38px;
  --sm-bold-font-weight: 700;
  --sm-bold-font-style: normal;
  --sm-semibold-font-family: SpaceGrotesk-Bold, sans-serif;
  --sm-semibold-font-size: 30px;
  --sm-semibold-line-height: 38px;
  --sm-semibold-font-weight: 700;
  --sm-semibold-font-style: normal;
  --sm-medium-font-family: SpaceGrotesk-Medium, sans-serif;
  --sm-medium-font-size: 30px;
  --sm-medium-line-height: 38px;
  --sm-medium-font-weight: 500;
  --sm-medium-font-style: normal;
  --sm-regular-font-family: SpaceGrotesk-Regular, sans-serif;
  --sm-regular-font-size: 30px;
  --sm-regular-line-height: 38px;
  --sm-regular-font-weight: 400;
  --sm-regular-font-style: normal;
  --xs-bold-font-family: SpaceGrotesk-Bold, sans-serif;
  --xs-bold-font-size: 24px;
  --xs-bold-line-height: 32px;
  --xs-bold-font-weight: 700;
  --xs-bold-font-style: normal;
  --xs-semibold-font-family: SpaceGrotesk-Bold, sans-serif;
  --xs-semibold-font-size: 24px;
  --xs-semibold-line-height: 32px;
  --xs-semibold-font-weight: 700;
  --xs-semibold-font-style: normal;
  --xs-medium-font-family: SpaceGrotesk-Medium, sans-serif;
  --xs-medium-font-size: 24px;
  --xs-medium-line-height: 32px;
  --xs-medium-font-weight: 500;
  --xs-medium-font-style: normal;
  --xs-regular-font-family: SpaceGrotesk-Regular, sans-serif;
  --xs-regular-font-size: 24px;
  --xs-regular-line-height: 32px;
  --xs-regular-font-weight: 400;
  --xs-regular-font-style: normal;
  --lg-bold-font-family: SpaceGrotesk-Bold, sans-serif;
  --lg-bold-font-size: 40px;
  --lg-bold-line-height: 60px;
  --lg-bold-font-weight: 700;
  --lg-bold-font-style: normal;
  --lg-semibold-font-family: SpaceGrotesk-Bold, sans-serif;
  --lg-semibold-font-size: 40px;
  --lg-semibold-line-height: 60px;
  --lg-semibold-font-weight: 700;
  --lg-semibold-font-style: normal;
  --lg-medium-font-family: SpaceGrotesk-Medium, sans-serif;
  --lg-medium-font-size: 40px;
  --lg-medium-line-height: 120%;
  --lg-medium-font-weight: 500;
  --lg-medium-font-style: normal;
  --lg-regular-font-family: SpaceGrotesk-Regular, sans-serif;
  --lg-regular-font-size: 40px;
  --lg-regular-line-height: 60px;
  --lg-regular-font-weight: 400;
  --lg-regular-font-style: normal;

  /* Effects */
}
/* Figma Color Variables of your File */
[data-colors-mode="mode-1"] {
  /* mode-1 */
  --additional-100: #ffffff;
}
